<a href="https://colab.research.google.com/github/abhayarya91/abhay/blob/main/abhay.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
abhay = (['a','b','h','y','s'])
y = pd.Series(abhay)
print(y)

0    a
1    b
2    h
3    y
4    s
dtype: object

In [4]:
import pandas as pd
import numpy as np
h = pd.Series(['abhay','arya','aryan','mailk'])
h.map({'aryan':'brother'})

0        NaN
1        NaN
2    brother
3        NaN
dtype: object

In [6]:
import pandas as pd
info = {'one':pd.Series([1,2,3,4,5],index=['a','b','c','d','e']),
        'two':pd.Series([1,2,3,4,5,6,7,8],index=['a','b','c','d','e','f','g','h'])}
b1 = pd.DataFrame(info)
print(b1['one'])

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
f    NaN
g    NaN
h    NaN
Name: one, dtype: float64

In [12]:
import array
arr = array.array('i',[2,4,6,8,10,12])
print("New created array:",end=" ")
for i in range (0,5):
  print(arr[i],end=" ")
print("\r")

New created array: 2 4 6 8 10

In [14]:
import pandas as pd

dict = {'name':['abhay','arya','Malik'],
        'age':["18","17","19"]}
info = pd.DataFrame(dict,index = [True,True,False])
print(info)

        name age
True   abhay  18
True    arya  17
False  Malik  19